@layer tailwind-base, antd;

@layer tailwind-base {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

[type='text']:focus,
input:where(:not([type])):focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus,
.ant-select-focused .ant-select-selector {
  --tw-ring-color: transparent !important;
  --tw-ring-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
  /* border-color: #D1D5DB !important; 保持原有边框颜色 */
}

/* Color Picker */

.custom-color-picker .ant-color-picker-color-block {
    border-radius: 100%;
}

.ql-toolbar.ql-snow {
    border: 0px solid transparent !important;
    border-bottom: 1px solid #E4E4E7 !important;
}

/* Table */

.ant-table-wrapper .ant-table-thead >tr>th, .ant-table-wrapper .ant-table-thead >tr>td {
  padding: 12px;
  font-size: 12px;
  font-weight: 700;
  font-family: 'DM Sans', sans-serif;
  line-height: 16px;
  color: #09090B;
}

/* Pagination */

.ant-table-wrapper .ant-table-pagination-center {
  align-items: center;
}

.ant-pagination .ant-pagination-item-active a {
  color: white;
}


.ant-pagination .ant-pagination-item {
  border-radius: 100%;
  
}

.ant-pagination .ant-pagination-item-active {
    border-color: transparent;
    background: #18181B;
}

.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 12px;
    box-shadow: 0px 1px 2px 0px rgba(9, 9, 11, 0.05);
    border-color: #E4E4E7;
}

.ant-pagination .ant-pagination-next .ant-pagination-item-link {
  border-radius: 100%;
}
.ant-pagination .ant-pagination-prev .ant-pagination-item-link {
  border-radius: 100%;
}

.ant-select-dropdown {
    border-radius: 8px;
}

.ant-select-dropdown .ant-select-item-option {
    border-radius: 8px;
}

/* ant Input number */
.ant-input-number-affix-wrapper {
    height: 46px;
    border-radius: 12px;
    border-color: #E4E4E7;
    box-shadow: 0px 1px 2px 0px rgba(9, 9, 11, 0.05);
}

.ant-input-number-affix-wrapper .ant-input-number-handler-wrap {
  border-radius: 0px 12px 12px 0px;
}

.custom-input-min .ant-input-number .ant-input-number-input {
  text-align: center !important;
}

/* antd tooltip  */

.ant-tooltip .ant-tooltip-inner {
  text-align: center;
  color: #FAFAFA;
  font-size: 10px;
  padding: 4px 12px;
  border-radius: 8px;
}

/* Ant Tag */

.ant-tag {
  border-radius: 100px;
  padding: 4px 12px;
  font-size: 10px;
  font-weight: 700;
  margin: 0;
}

.ant-tag.custom-tag-orange {
    color: #F26522;
    background: #FEECD2;
    border: 1px solid #FDD3A6;
}

.ant-tag.custom-tag-active {
    color: #1E941C;
    background: #E9FCD8;
    border: 1px solid #A9F088;
}

.ant-tag.custom-tag-inative {
    color: #52525B;
    background: #F0F0F3;
    border: 1px solid #D4D4D8;
}

/* Ant select */

.custom-select .ant-select-selector {
  padding: 8px;
}

.custom-select .ant-select-selection-item {
  background-color: white !important;
  color: black;
  border: 1px solid #E4E4E7 !important;
  border-radius: 6px !important;
  box-shadow: 0 1px 1px 0 rgba(46, 46, 46, 0.09);
}